body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:639px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:253px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10848 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:82px;
  width:379px;
  height:253px;
}
#u10849 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:118px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10850 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:82px;
  width:379px;
  height:42px;
}
#u10851 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10852 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:95px;
  width:57px;
  height:16px;
}
#u10853 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u10854 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:92px;
  width:23px;
  height:23px;
}
#u10855 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10856_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10856 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:144px;
  width:71px;
  height:16px;
}
#u10857 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u10858 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:140px;
  width:205px;
  height:25px;
}
#u10858_input {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10859_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10859 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:145px;
  width:29px;
  height:16px;
}
#u10860 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u10861_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10861 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:183px;
  width:71px;
  height:16px;
}
#u10862 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u10863 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:175px;
  width:205px;
  height:91px;
}
#u10863_input {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:91px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10864_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10864 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:293px;
  width:379px;
  height:42px;
}
#u10865 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10866 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:300px;
  width:61px;
  height:29px;
}
#u10867 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u10868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#333333;
}
#u10868 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:300px;
  width:61px;
  height:29px;
  color:#333333;
}
#u10869 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
