body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u6577 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u6578 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6579 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:38px;
  width:109px;
  height:21px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6580 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u6581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u6581 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:41px;
  width:16px;
  height:16px;
}
#u6582 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u6583 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:41px;
  width:19px;
  height:19px;
}
#u6584 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:594px;
}
#u6585 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:73px;
  width:375px;
  height:594px;
}
#u6586 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:289px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:25px;
}
#u6587 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:342px;
  width:197px;
  height:25px;
}
#u6588 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:25px;
}
#u6589 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:457px;
  width:197px;
  height:25px;
}
#u6590 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
