body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:973px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u6678 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u6679 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6680 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:38px;
  width:78px;
  height:21px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6681 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u6682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u6682 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:41px;
  width:16px;
  height:16px;
}
#u6683 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u6684 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:41px;
  width:19px;
  height:19px;
}
#u6685 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:594px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6686 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:73px;
  width:375px;
  height:594px;
}
#u6687 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:289px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u6688 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:90px;
  width:78px;
  height:21px;
  font-size:18px;
  color:#FFFFFF;
}
#u6689 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u6690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:313px;
}
#u6690 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:312px;
  width:554px;
  height:313px;
}
#u6691 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:148px;
  width:550px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u6692 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:55px;
  width:150px;
  height:150px;
}
#u6693 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u6694_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:537px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6694 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:130px;
  width:375px;
  height:537px;
}
#u6695 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:260px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6696_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#99CC99;
}
#u6696 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:90px;
  width:78px;
  height:21px;
  font-size:18px;
  color:#99CC99;
}
#u6697 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u6698_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6698 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:164px;
  width:29px;
  height:16px;
  color:#666666;
}
#u6699 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6700 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:155px;
  width:214px;
  height:30px;
}
#u6700_input {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6701_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6701 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:204px;
  width:29px;
  height:16px;
  color:#666666;
}
#u6702 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6703 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:195px;
  width:214px;
  height:30px;
}
#u6703_input {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6704 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:244px;
  width:29px;
  height:16px;
  color:#666666;
}
#u6705 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6706 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:235px;
  width:214px;
  height:30px;
}
#u6706_input {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6707_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6707 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:290px;
  width:57px;
  height:16px;
  color:#666666;
}
#u6708 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6709_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6709 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:578px;
  width:289px;
  height:40px;
  font-size:16px;
}
#u6710 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:285px;
  word-wrap:break-word;
}
#u6711 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:354px;
  width:289px;
  height:172px;
}
#u6711_input {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:172px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6712 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:330px;
  width:113px;
  height:16px;
  color:#666666;
}
#u6713 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u6714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6714 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:285px;
  width:24px;
  height:24px;
}
#u6715 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6716 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:285px;
  width:24px;
  height:24px;
}
#u6717 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6718 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:285px;
  width:24px;
  height:24px;
}
#u6719 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6720 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:285px;
  width:24px;
  height:24px;
}
#u6721 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6722 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:285px;
  width:24px;
  height:24px;
}
#u6723 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
