body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:747px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10039_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:192px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10039 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:31px;
  width:300px;
  height:192px;
}
#u10040 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:88px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u10041 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:50px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u10042 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u10043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u10043 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:50px;
  width:20px;
  height:20px;
}
#u10044 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u10045 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:49px;
  width:20px;
  height:20px;
}
#u10046 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10047_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10047 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:91px;
  width:258px;
  height:96px;
}
#u10048 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  word-wrap:break-word;
}
#u10049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:192px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10049 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:31px;
  width:300px;
  height:192px;
}
#u10050 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:88px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u10051 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:50px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u10052 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u10053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u10053 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:50px;
  width:20px;
  height:20px;
}
#u10054 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10055 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:89px;
  width:260px;
  height:115px;
}
#u10055_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:115px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10056_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u10056 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:53px;
  width:27px;
  height:16px;
  font-size:13px;
}
#u10057 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
