body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:576px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5183 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u5184 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(67, 67, 67, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5185 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u5186 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(67, 67, 67, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5187 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
}
#u5188 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(67, 67, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u5189 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:31px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u5190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u5191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u5191 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:84px;
  width:35px;
  height:35px;
}
#u5192 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5193 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:245px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5194 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5195_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:22px;
}
#u5195 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:245px;
  width:3px;
  height:19px;
}
#u5196 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u5197 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:251px;
  width:68px;
  height:13px;
  font-size:10px;
}
#u5198 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u5199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:69px;
}
#u5199 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:274px;
  width:55px;
  height:69px;
}
#u5200 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u5201 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:276px;
  width:169px;
  height:16px;
  color:#1E1E1E;
}
#u5202 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u5203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#666666;
}
#u5203 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:300px;
  width:31px;
  height:13px;
  font-size:10px;
  color:#666666;
}
#u5204 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u5205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#666666;
}
#u5205 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:314px;
  width:113px;
  height:13px;
  font-size:10px;
  color:#666666;
}
#u5206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u5207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u5207 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:325px;
  width:33px;
  height:16px;
  font-size:10px;
}
#u5208 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  word-wrap:break-word;
}
#u5209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#666666;
}
#u5209 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:328px;
  width:69px;
  height:13px;
  font-size:10px;
  color:#666666;
}
#u5210 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u5211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:69px;
}
#u5211 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:353px;
  width:55px;
  height:69px;
}
#u5212 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u5213 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:355px;
  width:169px;
  height:16px;
  color:#1E1E1E;
}
#u5214 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u5215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#666666;
}
#u5215 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:379px;
  width:31px;
  height:13px;
  font-size:10px;
  color:#666666;
}
#u5216 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u5217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#666666;
}
#u5217 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:393px;
  width:113px;
  height:13px;
  font-size:10px;
  color:#666666;
}
#u5218 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u5219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:69px;
}
#u5219 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:433px;
  width:55px;
  height:69px;
}
#u5220 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u5221 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:435px;
  width:169px;
  height:16px;
  color:#1E1E1E;
}
#u5222 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u5223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#666666;
}
#u5223 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:459px;
  width:31px;
  height:13px;
  font-size:10px;
  color:#666666;
}
#u5224 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u5225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#666666;
}
#u5225 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:473px;
  width:113px;
  height:13px;
  font-size:10px;
  color:#666666;
}
#u5226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u5227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:69px;
}
#u5227 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:512px;
  width:55px;
  height:69px;
}
#u5228 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u5229 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:514px;
  width:169px;
  height:16px;
  color:#1E1E1E;
}
#u5230 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u5231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#666666;
}
#u5231 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:538px;
  width:31px;
  height:13px;
  font-size:10px;
  color:#666666;
}
#u5232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u5233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#666666;
}
#u5233 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:552px;
  width:113px;
  height:13px;
  font-size:10px;
  color:#666666;
}
#u5234 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u5235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5235 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:30px;
  width:25px;
  height:25px;
}
#u5236 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:12px;
}
#u5237 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:36px;
  width:24px;
  height:12px;
}
#u5238 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u5239 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:404px;
  width:33px;
  height:16px;
  font-size:10px;
}
#u5240 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  word-wrap:break-word;
}
#u5241 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:84px;
  width:294px;
  height:35px;
}
#u5241_input {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u5242 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:90px;
  width:23px;
  height:23px;
}
#u5243 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5244 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:88px;
  width:251px;
  height:28px;
}
#u5244_input {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u5245 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:138px;
  width:48px;
  height:48px;
}
#u5246 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u5247 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:196px;
  width:49px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u5248 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u5249 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:138px;
  width:48px;
  height:48px;
}
#u5250 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u5251 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:196px;
  width:49px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u5252 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u5253 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:138px;
  width:48px;
  height:48px;
}
#u5254 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u5255 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:196px;
  width:49px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u5256 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:6px;
}
#u5257 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:332px;
  width:10px;
  height:6px;
}
#u5258 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-5px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#666666;
}
#u5259 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:406px;
  width:69px;
  height:13px;
  font-size:10px;
  color:#666666;
}
#u5260 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u5261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:6px;
}
#u5261 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:410px;
  width:10px;
  height:6px;
}
#u5262 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-5px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#666666;
}
#u5263 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:486px;
  width:69px;
  height:13px;
  font-size:10px;
  color:#666666;
}
#u5264 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u5265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:6px;
}
#u5265 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:490px;
  width:10px;
  height:6px;
}
#u5266 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-5px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5267_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#666666;
}
#u5267 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:566px;
  width:69px;
  height:13px;
  font-size:10px;
  color:#666666;
}
#u5268 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u5269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:6px;
}
#u5269 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:570px;
  width:10px;
  height:6px;
}
#u5270 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-5px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5271 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:347px;
  width:344px;
  height:73px;
}
#u5272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u5272 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u5273 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  word-wrap:break-word;
}
#u5274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u5274 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:0px;
  width:66px;
  height:20px;
}
#u5275 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:62px;
  word-wrap:break-word;
}
#u5276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:20px;
}
#u5276 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:0px;
  width:158px;
  height:20px;
}
#u5277 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:154px;
  word-wrap:break-word;
}
#u5278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u5278 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:0px;
  width:58px;
  height:20px;
}
#u5279 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u5280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:24px;
}
#u5280 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:57px;
  height:24px;
}
#u5281 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:24px;
}
#u5282 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:20px;
  width:66px;
  height:24px;
}
#u5283 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:62px;
  word-wrap:break-word;
}
#u5284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:24px;
}
#u5284 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:20px;
  width:158px;
  height:24px;
}
#u5285 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:154px;
  word-wrap:break-word;
}
#u5286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
}
#u5286 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:20px;
  width:58px;
  height:24px;
}
#u5287 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u5288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:24px;
}
#u5288 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:57px;
  height:24px;
}
#u5289 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:24px;
}
#u5290 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:44px;
  width:66px;
  height:24px;
}
#u5291 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:62px;
  word-wrap:break-word;
}
#u5292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:24px;
}
#u5292 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:44px;
  width:158px;
  height:24px;
}
#u5293 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:154px;
  word-wrap:break-word;
}
#u5294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
}
#u5294 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:44px;
  width:58px;
  height:24px;
}
#u5295 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u5296_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5296 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:618px;
  width:375px;
  height:49px;
}
#u5297 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5298_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5298 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:632px;
  width:55px;
  height:22px;
  font-size:18px;
}
#u5299 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u5300 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:425px;
  width:344px;
  height:73px;
}
#u5301_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u5301 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u5302 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  word-wrap:break-word;
}
#u5303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u5303 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:0px;
  width:66px;
  height:20px;
}
#u5304 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:62px;
  word-wrap:break-word;
}
#u5305_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:20px;
}
#u5305 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:0px;
  width:158px;
  height:20px;
}
#u5306 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:154px;
  word-wrap:break-word;
}
#u5307_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u5307 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:0px;
  width:58px;
  height:20px;
}
#u5308 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u5309_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:24px;
}
#u5309 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:57px;
  height:24px;
}
#u5310 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5311_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:24px;
}
#u5311 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:20px;
  width:66px;
  height:24px;
}
#u5312 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:62px;
  word-wrap:break-word;
}
#u5313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:24px;
}
#u5313 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:20px;
  width:158px;
  height:24px;
}
#u5314 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:154px;
  word-wrap:break-word;
}
#u5315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
}
#u5315 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:20px;
  width:58px;
  height:24px;
}
#u5316 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u5317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:24px;
}
#u5317 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:57px;
  height:24px;
}
#u5318 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:24px;
}
#u5319 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:44px;
  width:66px;
  height:24px;
}
#u5320 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:62px;
  word-wrap:break-word;
}
#u5321_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:24px;
}
#u5321 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:44px;
  width:158px;
  height:24px;
}
#u5322 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:154px;
  word-wrap:break-word;
}
#u5323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
}
#u5323 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:44px;
  width:58px;
  height:24px;
}
#u5324 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u5325 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:503px;
  width:344px;
  height:73px;
}
#u5326_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u5326 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u5327 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  word-wrap:break-word;
}
#u5328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u5328 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:0px;
  width:66px;
  height:20px;
}
#u5329 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:62px;
  word-wrap:break-word;
}
#u5330_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:20px;
}
#u5330 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:0px;
  width:158px;
  height:20px;
}
#u5331 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:154px;
  word-wrap:break-word;
}
#u5332_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u5332 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:0px;
  width:58px;
  height:20px;
}
#u5333 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u5334_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:24px;
}
#u5334 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:57px;
  height:24px;
}
#u5335 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:24px;
}
#u5336 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:20px;
  width:66px;
  height:24px;
}
#u5337 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:62px;
  word-wrap:break-word;
}
#u5338_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:24px;
}
#u5338 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:20px;
  width:158px;
  height:24px;
}
#u5339 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:154px;
  word-wrap:break-word;
}
#u5340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
}
#u5340 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:20px;
  width:58px;
  height:24px;
}
#u5341 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u5342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:24px;
}
#u5342 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:57px;
  height:24px;
}
#u5343 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:24px;
}
#u5344 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:44px;
  width:66px;
  height:24px;
}
#u5345 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:62px;
  word-wrap:break-word;
}
#u5346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:24px;
}
#u5346 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:44px;
  width:158px;
  height:24px;
}
#u5347 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:154px;
  word-wrap:break-word;
}
#u5348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
}
#u5348 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:44px;
  width:58px;
  height:24px;
}
#u5349 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u5350 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:581px;
  width:344px;
  height:74px;
}
#u5351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u5351 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u5352 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  word-wrap:break-word;
}
#u5353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u5353 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:0px;
  width:66px;
  height:20px;
}
#u5354 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:62px;
  word-wrap:break-word;
}
#u5355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:20px;
}
#u5355 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:0px;
  width:158px;
  height:20px;
}
#u5356 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:154px;
  word-wrap:break-word;
}
#u5357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u5357 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:0px;
  width:58px;
  height:20px;
}
#u5358 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u5359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
}
#u5359 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:57px;
  height:25px;
}
#u5360 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5361_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
}
#u5361 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:20px;
  width:66px;
  height:25px;
}
#u5362 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:62px;
  word-wrap:break-word;
}
#u5363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:25px;
}
#u5363 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:20px;
  width:158px;
  height:25px;
}
#u5364 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:154px;
  word-wrap:break-word;
}
#u5365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:25px;
}
#u5365 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:20px;
  width:58px;
  height:25px;
}
#u5366 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u5367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:24px;
}
#u5367 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:57px;
  height:24px;
}
#u5368 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:24px;
}
#u5369 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:45px;
  width:66px;
  height:24px;
}
#u5370 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:62px;
  word-wrap:break-word;
}
#u5371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:24px;
}
#u5371 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:45px;
  width:158px;
  height:24px;
}
#u5372 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:154px;
  word-wrap:break-word;
}
#u5373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
}
#u5373 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:45px;
  width:58px;
  height:24px;
}
#u5374 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u5375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u5375 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:219px;
  width:17px;
  height:17px;
}
#u5376 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5377 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:219px;
  width:29px;
  height:16px;
  color:#666666;
}
#u5378 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:192px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:14px;
  color:#FFFFFF;
}
#u5379 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:251px;
  width:177px;
  height:192px;
  font-size:14px;
  color:#FFFFFF;
}
#u5380 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u5381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u5381 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:485px;
  width:54px;
  height:16px;
  font-size:10px;
}
#u5382 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:50px;
  word-wrap:break-word;
}
#u5383_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u5383 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:565px;
  width:54px;
  height:16px;
  font-size:10px;
}
#u5384 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:50px;
  word-wrap:break-word;
}
