body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:829px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:541px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7910 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:40px;
  width:632px;
  height:541px;
}
#u7911 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:262px;
  width:628px;
  visibility:hidden;
  word-wrap:break-word;
}
