body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1010px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:724px;
}
#u8377 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1000px;
  height:724px;
}
#u8378 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:354px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:288px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8379 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1000px;
  height:288px;
}
#u8380 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:136px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u8381 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:98px;
  width:145px;
  height:57px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u8382 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u8383_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8383 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:165px;
  width:127px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8384 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u8385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:35px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8385 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:227px;
  width:119px;
  height:35px;
}
#u8386 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u8387_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8387 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:333px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8388 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u8389 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:399px;
  width:198px;
  height:34px;
}
#u8389_input {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8390 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:454px;
  width:567px;
  height:170px;
}
#u8390_input {
  position:absolute;
  left:0px;
  top:0px;
  width:567px;
  height:170px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:35px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8391 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:647px;
  width:119px;
  height:35px;
}
#u8392 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
